<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <form class="card card-body mt-4" [formGroup]="SeminarForm" (ngSubmit)="OnSubmit(false)">
        <h6 class="mb-0">{{lb_Address}}</h6>
        <p class="text-sm mb-0">{{lb_AddressD}}</p>
        <hr class="horizontal dark my-3">
        <div class="row">
          <div class="col-12 col-md-4">
            <label for="Week" class="form-label">{{lb_week}}</label>
            <input type="week" class="form-control" formControlName="Week">
          </div>
          <div class="col-12 col-md-4">
            <label for="Date" class="form-label">{{lb_date}}</label>
            <input type="date" placeholder="9665xxxxxxxx" class="form-control" formControlName="Date">
          </div>
          <div class="col-12 col-md-4">
            <label for="Time" class="form-label">{{lb_Time}}</label>
            <input type="time" class="form-control" formControlName="Time">
          </div>
          <div class="col-12 col-md-4">
            <label class="form-Student_GN_Code">{{lb_Student}}</label>{{StudentList[1].value}}
            <select class="form-control" name="Student" formControlName="Student_GN_Code">
              <option [ngValue]="null" selected> - {{lb_Select}} -</option>
              <option value="{{item.key}}" *ngFor="let item of StudentList">{{item.value}}</option>
            </select>
          </div>
          <div class="col-12 col-md-4">
            <label for="Supervisor_GN_Code" class="form-label">{{lb_Supervisor}}</label>
            <select class="form-control" name="Supervisor" formControlName="Supervisor_GN_Code">
              <option [ngValue]="null" selected> - {{lb_Select}} -</option>
              <option value="{{item.key}}" *ngFor="let item of ExaminerList">{{item.value}}</option>
            </select>
          </div>
          <div class="col-12 col-md-4">
            <label for="Title" class="form-label">{{lb_Title}}</label>
            <input type="text" class="form-control" formControlName="Title">
          </div>
          <div class="col-12 col-md-4">
            <label for="Examiner_GN_Code" class="form-label">{{lb_Examiner}}</label>
            <select class="form-control" name="Examiner" formControlName="Examiner_GN_Code">
              <option [ngValue]="null" selected> - {{lb_Select}} -</option>
              <option value="{{item.key}}" *ngFor="let item of ExaminerList">{{item.value}}</option>
            </select>
          </div>
          <div class="col-12 col-md-4">
            <label for="RoomNoGN_Code" class="form-label">{{lb_RoomNo}}</label>
            <select class="form-control" name="RoomNo" formControlName="RoomNoGN_Code">
              <option [ngValue]="null" selected> - {{lb_Select}} -</option>
              <option value="{{item.key}}" *ngFor="let item of RoomList">{{item.value}}</option>
            </select>
          </div>

        </div>

        <div class="d-flex justify-content-end mt-4">
          <a type="button" name="button" class="btn btn-light m-0" routerLink="/Schedule/Seminar/info/" >{{lb_Cancel}}</a>
          <button type="submit" name="button" [disabled]="!(SeminarForm.valid && btn_status)" class="btn bg-gradient-success m-0 mx-2" ><span [innerHTML]="btn_spinner"></span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header p-3">
          <div class="row">
            <div class="col-md-6">
              <h6 class="mb-0">{{lb_ListOfSeminar}}</h6>
            </div>
            <div class="row col-md-12 mt-3">
              <div class="col-md-1 mt-2 text-end">{{lb_NumberOfList}}</div>
              <div class="col-md-1">
                <select class="form-control text-center" [(ngModel)]="PerPage" name="choices-language">
                  <option value="1"> 1 </option>
                  <option value="2"> 2 </option>
                  <option value="5"> 5 </option>
                  <option value="10"> 10 </option>
                </select>
              </div>
              <div class="col-md-1  mt-2 text-start">{{lb_Entries}}</div>
              <div class="col-md-6"></div>
              <div class="col-md-3">
                <input type="text" class="form-control" placeholder="{{lb_Search}}" [(ngModel)]="searchedKeyword">
              </div>
            </div>
          </div>
          <hr class="horizontal dark mb-0">
        </div>
        <div class="card-body p-3 pt-0">

          <ul class="list-group list-group-flush" data-toggle="checklist">
            <li class="list-group-item border-0 flex-column align-items-start ps-0 py-0 mb-3" *ngFor="let item of SeminarList | filter: searchedKeyword |
            paginate: {id: 'listing_pagination',
            itemsPerPage: PerPage,
            currentPage: page,
            totalItems: tatalRecords}">

              <div class="checklist-item checklist-item-dark ps-2 ms-3">
                <div class="d-flex align-items-center mx-2 mt-3 ps-1">
                  <div class="mx-auto">
                    <p class="text-xs mb-0 text-secondary font-weight-bold">{{lb_Title}}</p>
                    <span class="text-xs font-weight-bolder">{{item.Title}}</span>
                  </div>
                  <div class="mx-auto">
                    <p class="text-xs mb-0 text-secondary font-weight-bold">{{lb_Time}}</p>
                    <span class="text-xs font-weight-bolder">{{item.Time || 'Unknow'}}</span>
                  </div>
                  <div class="mx-auto">
                    <p class="text-xs mb-0 text-secondary font-weight-bold">{{lb_Supervisor}}</p>
                    <span class="text-xs font-weight-bolder">{{item.Supervisor_GN_Code}}</span>
                  </div>
                  <div class="mx-auto">
                    <p class="text-xs mb-0 text-secondary font-weight-bold">{{lb_Examiner}}</p>
                    <span class="text-xs font-weight-bolder">{{item.Examiner_GN_Code}}</span>
                  </div>
                  <div>
                    <p class="text-xs mb-0 text-secondary font-weight-bold">{{lb_week}}</p>
                    <span class="text-xs font-weight-bolder">{{item.Week}}</span>
                  </div>
                  <div class="ms-auto">
                    <p class="text-xs mb-0 text-secondary font-weight-bold">{{lb_date}}</p>
                    <span class="text-xs font-weight-bolder"><span class="badge bg-dark">{{item.Date | date}}</span></span>
                  </div>
                  <div class="mx-auto">
                    <a routerLink="/Schedule/Seminar/info/{{item.Id}}"><i class="fa fa-file-text-o fs-4 mt-3 mx-2" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <hr class="horizontal dark mt-4 mb-0">
            </li>
          </ul>

        </div>
        <div class="card-footer p-3">

          <div class="row justify-content-md-center mb-2">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <!-- Pagination area -->
              <pagination-controls class="dataTable-pagination" id='listing_pagination' [maxSize]="5"
                [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previous" nextLabel="Next"
                screenReaderPaginationLabel="Pages" screenReaderPageLabel="Page" (pageChange)="page = $event">
              </pagination-controls>
            </div>
            <div class="col-lg-4"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
