<div class="container-fluid">
  <div class="row mb-4" *ngIf="IsUpdate">
    <div class="col-lg-12 col-12 mx-auto">
      <form class="card card-body mt-4" [formGroup]="SeminarForm" (ngSubmit)="OnSubmit(false)">
        <h6 class="mb-0">{{lb_Address}}</h6>
        <p class="text-sm mb-0">{{lb_AddressD}}</p>
        <hr class="horizontal dark my-3">
        <div class="row">
          <div class="col-12 col-md-4">
            <label for="Week" class="form-label">{{lb_week}}</label>
            <input type="week" class="form-control" formControlName="Week">
          </div>
          <div class="col-12 col-md-4">
            <label for="Date" class="form-label">{{lb_date}}</label>
            <input type="date" placeholder="9665xxxxxxxx" class="form-control" formControlName="Date">
          </div>
          <div class="col-12 col-md-4">
            <label for="Time" class="form-label">{{lb_Time}}</label>
            <input type="time" class="form-control" formControlName="Time">
          </div>
          <div class="col-12 col-md-4">
            <label class="form-Student_GN_Code">{{lb_Student}}</label>
            <select class="form-control" name="Student" formControlName="Student_GN_Code">
              <option [ngValue]="null" selected> - {{lb_Select}} -</option>
              <option value="{{item.GN_Code}}" *ngFor="let item of StudentList">{{item.Name}}</option>
            </select>
          </div>
          <div class="col-12 col-md-4">
            <label for="Supervisor_GN_Code" class="form-label">{{lb_Supervisor}}</label>
            <select class="form-control" name="Supervisor" formControlName="Supervisor_GN_Code">
              <option [ngValue]="null" selected> - {{lb_Select}} -</option>
              <option value="{{item.GN_Code}}" *ngFor="let item of UserList">{{(LangCode == "us-en" || LangCode == "en-us")?item.Name_En:item.Name_Ar}}</option>
            </select>
          </div>
          <div class="col-12 col-md-4">
            <label for="RoomNoGN_Code" class="form-label">{{lb_RoomNo}}</label>
            <select class="form-control" name="RoomNo" formControlName="RoomNoGN_Code">
              <option [ngValue]="null" selected> - {{lb_Select}} -</option>
              <option value="{{item.key}}" *ngFor="let item of RoomList">{{item.value}}</option>
            </select>
          </div>
          <div class="col-12 col-md-12">
            <label for="Examiner_GN_Code" class="form-label">{{lb_Examiner}}</label>
            <select class="form-control choices-multiple" name="Examiner"  name="choices-multiple-remove-button" formControlName="Examiner_GN_Code"
              multiple>
              <option value="{{item.GN_Code}}" *ngFor="let item of StaffList">{{LangCode =='en-us' || LangCode == 'us-en'?item.NameEn:item.NameAr}}</option>
            </select>
          </div>
          <div class="col-12 col-md-12">
            <label for="Title" class="form-label">{{lb_Title}}</label>
            <input type="text" class="form-control" formControlName="Title">
          </div>

        </div>

        <div class="d-flex justify-content-end mt-4">
          <a type="button" name="button" class="btn btn-light m-0" routerLink="/Schedule/Seminar/info/" >{{lb_Cancel}}</a>
          <button type="submit" name="button" [disabled]="!(SeminarForm.valid && btn_status)" class="btn bg-gradient-success m-0 mx-2" ><span [innerHTML]="btn_spinner"></span></button>
        </div>
      </form>
    </div>
  </div>

  <div class="row my-4" *ngIf="!IsUpdate">
    <div class="col-12">
      <div class="card">
        <div class="card-header p-3">
          <div class="row">
            <div class="col-md-8">
              <h6 class="mb-0">{{lb_ListOfSeminar}}</h6>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control search-input" placeholder="{{lb_Search}}" [(ngModel)]="searchedKeyword">
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center mb-0 px-2">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_Student}}</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{lb_Title}}</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_Time}}</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{lb_Supervisor}}</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{lb_Examiner}}</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{lb_date}}</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of SeminarList | filter: searchedKeyword |
              paginate: {id: 'listing_pagination',
              itemsPerPage: 10,
              currentPage: page,
              totalItems: tatalRecords}">
                <td>
                  <div class="d-flex px-2 py-1">
                    <div>
                      <img src="{{GetProfileImage(item.Student_GN_Code)}}" class="avatar avatar-sm mx-3" alt="avatar image">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{GetStudentName(item.Student_GN_Code)}}</h6>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <p class="text-sm text-secondary mb-0">{{item.Title}}</p>
                </td>
                <td class="align-middle text-center">
                  <i class="bg-info"></i>
                  <span class="text-dark text-xs">{{item.Time || 'Unknow'}}</span>
                </td>
                <td class="text-center">
                  <span class="badge badge-dot me-4">
                    <p class="text-secondary mb-0 text-sm">{{GetEmpName(item.Supervisor_GN_Code)}}</p>
                  </span>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-secondary mb-0 text-sm" [innerHTML]="GetExaminerName(item.Examiner_GN_Code)"></p>
                </td>
                <td class="align-middle text-center">
                  <span class="text-dark text-xs">{{item.Date | date}}</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-sm mx-auto">
                    <a href="#/Schedule/Seminar/info/{{item.Id}}" style="cursor: pointer;">
                      <i class="fa fa-edit fs-5 mt-3 mx-2" aria-hidden="true"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer p-3">
          <div class="row justify-content-md-center mb-2">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <!-- Pagination area -->
              <pagination-controls class="dataTable-pagination" id='listing_pagination' [maxSize]="5"
                [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previous" nextLabel="Next"
                screenReaderPaginationLabel="Pages" screenReaderPageLabel="Page" (pageChange)="page = $event">
              </pagination-controls>
            </div>
            <div class="col-lg-4"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
