<main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('../../../assets/img/curved-images/curved9.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="text-white mb-2 mt-5">{{lb_Welcome}}</h1>
            <p class="text-lead text-white">{{lb_WelcomeD}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-5">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-10 mx-auto">
          <div class="card z-index-0 mb-5">
            <div class="card-header text-center">
              <h5>{{lb_Registration}}</h5>
            </div>
            <div class="card-body  mb-4">
              <form class="card card-body" [formGroup]="StudentInfo" (ngSubmit)="OnSubmit(false)">
                <h6>{{lb_FormTitle}}</h6>
                <p class="text-sm mb-0">{{lb_Details}}</p>
                <hr class="horizontal dark my-3">
                <div class="row mb-4">
                  <div class="col-md-6">
                    <label class="form-label">{{lb_Category}}</label>
                    <div class="input-group">
                      <select class="form-control" name="choices-gender" formControlName="ApplicantCategory">
                        <option value="{{category.Id}}" *ngFor="let category of CategoryList">{{category.Name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_Program}}</label>
                    <div class="input-group">
                      <select class="form-control" name="choices-Program_GN_Code" formControlName="Program_GN_Code">
                        <option value="{{program.GN_Code}}" *ngFor="let program of ProgramList">{{LangCode === "us-en" ? program.Name_En :
                          program.Name_Ar}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_Speciality}}</label>
                    <div class="input-group">
                      <select class="form-control" name="choices-Speciality_GN_Code" formControlName="Speciality_GN_Code">
                        <option value="{{speciality.GN_Code}}" *ngFor="let speciality of SpecialityList">{{LangCode === "us-en" ?
                          speciality.Name_En : speciality.Name_Ar}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_Phone}}</label>
                    <div class="input-group">
                      <input id="phone" name="phone" formControlName="Phone" class="form-control" type="phone"
                        placeholder="966xxxxxxxxx" required="required">
                    </div>
                  </div>
              
                  <div class="col-md-6">
                    <label class="form-label">{{lb_FristName_En}}</label>
                    <div class="input-group">
                      <input id="fristname" name="fristname_En" formControlName="FirstName_En" class="form-control" type="text"
                        placeholder="" required="required" autocomplete="false">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_FatherName_En}}</label>
                    <div class="input-group">
                      <input id="fathername" name="fathername_En" formControlName="FatherName_En" class="form-control" type="text"
                        placeholder="" required="required" autocomplete="false">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_GrandFatherName_En}}</label>
                    <div class="input-group">
                      <input id="grandfathername" name="grandfathername_En" formControlName="GrandFatherName_En" class="form-control"
                        type="text" placeholder="" required="required" autocomplete="false">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_FamilyName_En}}</label>
                    <div class="input-group">
                      <input id="familyname" name="familyname_En" formControlName="FamilyName_En" class="form-control" type="text"
                        placeholder="" required="required" autocomplete="false">
                    </div>
                  </div>
              
                  <div class="col-md-6">
                    <label class="form-label">{{lb_FristName_Ar}}</label>
                    <div class="input-group">
                      <input id="fristname" name="fristname_Ar" formControlName="FirstName_Ar" class="form-control" type="text"
                        placeholder="" required="required" autocomplete="false">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_FatherName_Ar}}</label>
                    <div class="input-group">
                      <input id="fathername" name="fathername_Ar" formControlName="FatherName_Ar" class="form-control" type="text"
                        placeholder="" required="required" autocomplete="false">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_GrandFatherName_Ar}}</label>
                    <div class="input-group">
                      <input id="grandfathername" name="grandfathername_Ar" formControlName="GrandFatherName_Ar" class="form-control"
                        type="text" placeholder="" required="required" autocomplete="false">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_FamilyName_Ar}}</label>
                    <div class="input-group">
                      <input id="familyname" name="familyname_Ar" formControlName="FamilyName_Ar" class="form-control" type="text"
                        placeholder="" required="required" autocomplete="false">
                    </div>
                  </div>
              
                  <div class="col-md-6">
                    <label class="form-label">{{lb_Email}}</label>
                    <div class="input-group">
                      <input type="email" formControlName="Email" placeholder="ex: emp@riyadh.edu.sa" class="form-control"
                        id="va_EmpEmail">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_RetypeEmail}}</label>
                    <div class="input-group">
                      <input type="retypeemail" formControlName="reEmail" placeholder="ex: emp@riyadh.edu.sa" class="form-control" id="va_EmpEmail">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">{{lb_Citizenship}}</label>
                    <div class="input-group">
                      <select class="form-control" name="choices-gender" formControlName="CitizenShip">
                        <option value="{{citizenship.Id}}" *ngFor="let citizenship of CitizenshipList">{{LangCode === "us-en" ? citizenship.Nationality_Name_En : citizenship.Nationality_Name_Ar}}</option>
                      </select>
                    </div>
                  </div>
              
                  <div class="col-md-6">
                    <label class="form-label">{{lb_NationalIdNo}}</label>
                    <div class="input-group">
                      <input id="NationalIdNo" name="NationalIdNo" formControlName="CardNational_ID" class="form-control" type="text"
                        placeholder="" required="required" autocomplete="false">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-label">{{lb_Gender}}</label>
                      <div class="input-group">
                        <select class="form-control" name="choices-gender" formControlName="Gender">
                          <option value="{{gender.Id}}" *ngFor="let gender of GenderList">{{gender.Name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="text-center col-sm-2 col-2"></div>
                    <div class="text-center col-sm-8 col-8">
                      <button type="submit" [disabled]="!(StudentInfo.valid && btn_status)" class="btn bg-gradient-info w-100 my-4 mb-2"><span [innerHTML]="btn_spinner"></span></button>
                    </div>
                    <div class="text-center col-sm-2 col-2"></div>
                  </div>
                  <div class="mb-2 position-relative text-center">
                    <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3">
                      or
                    </p>
                  </div>
                  <div class="row">
                    <div class="text-center col-sm-2 col-2"></div>
                    <div class="text-center col-sm-8 col-8">
                      <button type="button" class="btn bg-gradient-dark w-100 mt-2 mb-4" (click)="routerEvent()">{{lb_Signin}}</button>
                  
                      <!-- <div class="d-flex justify-content-end mt-4">
                        <button type="button" name="button" class="btn btn-light m-0">{{lb_Cancel}}</button>
                        <button type="submit" [disabled]="!(StudentInfo.valid && btn_status)" name="button"
                          class="btn bg-gradient-success m-0 mx-2"><span [innerHTML]="btn_spinner"></span></button>
                      </div>
                      <div class="text-center col-sm-2 col-2"></div> -->
                    </div>
                  </div>
                </div>
              <div class="alert alert-danger" role="alert" *ngIf="IsShowMessageError">
                <span class="alert-icon"><i class="ni ni-notification-70"></i>{{" "}}</span>
                <span class="alert-text"><strong>{{lb_Error}}!</strong> {{lb_ErrorD}}!</span>
              </div>
              <div class="alert alert-success" role="alert" *ngIf="IsShowMessageUpdate">
                <span class="alert-icon"><i class="ni ni-like-2"></i>{{" "}}</span>
                <span class="alert-text"><strong>{{lb_Success}}!</strong> {{lb_SuccessD}}!</span>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
