        <div class="card-body pt-0">
          <div class="row">

            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_FristNameAR}}</label>
              <div class="input-group">
                <input  id="fristname" name="fristname" class="form-control" type="text" placeholder=""
                  required="required" autocomplete="false">
              </div>
            </div>
            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_FatherNameAR}}</label>
              <div class="input-group">
                <input  id="fathername" name="fathername" class="form-control" type="text" placeholder=""
                  required="required" autocomplete="false">
              </div>
            </div>
            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_GrandFatherNameAR}}</label>
              <div class="input-group">
                <input  id="grandfathername" name="grandfathername" class="form-control" type="text" placeholder=""
                  required="required" autocomplete="false">
              </div>
            </div>
            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_FamilyNameAR}}</label>
              <div class="input-group">
                <input  id="familyname" name="familyname" class="form-control" type="text" placeholder=""
                required="required" autocomplete="false">
              </div>
            </div>

            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_DateOfBirth}}</label>
              <div class="input-group">
                <input  id="dateofbirth" name="dateofbirth" class="form-control" type="date" placeholder=""
                  required="required" autocomplete="false">
              </div>
            </div>

            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_PlaceOfBirth}}</label>
              <div class="input-group">
                <input  id="placeofbirth" name="placeofbirth" class="form-control" type="text" placeholder=""
                  required="required" autocomplete="false">
              </div>
            </div>

            <div class="col-sm-4 col-6">
              <label class="form-label">{{lb_SaudiPersonalIdCard}}</label>
              <div class="input-group">
                <input  id="saudipersonalidCard" name="saudipersonalIdCard" class="form-control" type="text" placeholder=""
                  required="required" autocomplete="false">
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <label class="form-label">{{lb_IssueDate}}</label>
              <input  id="issuedate" name="issuedate" class="form-control datetimepicker" type="date" placeholder=""
                  required="required" autocomplete="false">
            </div>
            <div class="col-sm-4 col-6">
              <label class="form-label">{{lb_ExpiryDate}}</label>
              <div class="input-group">
                <input  id="expirydate" name="expirydate" class="form-control datetimepicker" type="date" placeholder=""
                  required="required" autocomplete="false">
              </div>
          </div>
          <div class="col-sm-4 col-6">
            <label class="form-label">{{lb_MaritalStatus}}</label>
            <div class="input-group">
              <select class="form-control" name="maritalstatus" id="maritalstatus">
                <option value="{{maritalstatus.Id}}" *ngFor="let maritalstatus of MaritalStatusList">{{maritalstatus.Name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4 col-6">
            <label class="form-label">{{lb_City}}</label>
            <div class="input-group">
              <input  id="city" name="city" class="form-control" type="text" placeholder=""
                required="required" autocomplete="false">
            </div>
        </div>
        <div class="col-sm-4 col-6">
          <label class="form-label">{{lb_ZipCode}}</label>
          <div class="input-group">
            <input  id="zipcode" name="zipcode" class="form-control" type="text" placeholder=""
              required="required" autocomplete="false">
          </div>
      </div>
      <div class="col-sm-12 col-6">
        <label class="form-label">{{lb_Address}}</label>
        <div class="input-group">
          <textarea id="address" name="address" class="form-control" required="required" autocomplete="false"></textarea>
        </div>
       </div>
        </div>
          <button class="btn bg-gradient-success btn-sm float-end mt-6 mb-0">{{lb_SaveChange}}</button>
        </div>

