<div class="container-fluid">
        <div class="card-body pt-0">
          <form class="card card-body mt-4" [formGroup]="ApplicationForm" (ngSubmit)="OnSubmit(false)">
            <h6>{{lb_FormTitle}}</h6>
            <p class="text-sm mb-0">{{lb_Details}}</p>
            <hr class="horizontal dark my-3">
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">{{lb_FristName_Ar}}</label>
              <div class="input-group">
                <input  id="fristname" name="fristname_Ar" formControlName="FirstName_Ar" class="form-control" type="text"
                   autocomplete="false">
              </div>
            </div>
            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_FatherName_Ar}}</label>
              <div class="input-group">
                <input  id="fathername" name="fathername_Ar" formControlName="FatherName_Ar" class="form-control" type="text"
                   autocomplete="false">
              </div>
            </div>
            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_GrandFatherName_Ar}}</label>
              <div class="input-group">
                <input  id="grandfathername"  name="grandfathername_Ar" formControlName="GrandFatherName_Ar" class="form-control" type="text"
                   autocomplete="false">
              </div>
            </div>
            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_FamilyName_Ar}}</label>
              <div class="input-group">
                <input  id="familyname" name="familyname_Ar" formControlName="FamilyName_Ar" class="form-control" type="text"
                 autocomplete="false">
              </div>
            </div>

            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_DateOfBirth}}</label>
              <div class="input-group">
                <input  id="dateofbirth" type="date" name="dateofbirth" formControlName="DateOfBirth" class="form-control datetimepicker"
                   autocomplete="false">
              </div>
            </div>

            <div class="col-sm-6 col-6">
              <label class="form-label">{{lb_PlaceOfBirth}}</label>
              <div class="input-group">
                <input  id="placeofbirth" name="placeofbirth" formControlName="PlaceOfBirth" class="form-control" type="text"
                   autocomplete="false">
              </div>
            </div>

            <div class="col-sm-4 col-6">
              <label class="form-label">{{lb_NationalIdNo}}</label>
              <div class="input-group">
                <input  id="NationalIdNo" name="NationalIdNo" formControlName="CardNational_ID" class="form-control" type="text"
                   autocomplete="false">
              </div>
            </div>
            <div class="col-sm-4 col-6">
              <label class="form-label">{{lb_IssueDate}}</label>
              <input type="date"  id="issuedate" name="issuedate" formControlName="IssueDate" class="form-control datetimepicker"
                   autocomplete="false">
            </div>
            <div class="col-sm-4 col-6">
              <label class="form-label">{{lb_ExpiryDate}}</label>
              <div class="input-group">
                <input type="date"  id="expirydate" name="expirydate" formControlName="ExpiryDate" class="form-control datetimepicker"
                   autocomplete="false">
              </div>
          </div>
          <div class="col-sm-4 col-6">
            <label class="form-label">{{lb_MaritalStatus}}</label>
            <div class="input-group">
              <select class="form-control" name="maritalstatus" id="maritalstatus" formControlName="MaritalStatus">
                <option value="{{maritalstatus.Id}}" *ngFor="let maritalstatus of MaritalStatusList">{{maritalstatus.Name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4 col-6">
            <label class="form-label">{{lb_City}}</label>
            <div class="input-group">
              <input  id="city" name="city" formControlName="City" class="form-control" type="text"
                 autocomplete="false" >
            </div>
        </div>
        <div class="col-sm-4 col-6">
          <label class="form-label">{{lb_ZipCode}}</label>
          <div class="input-group">
            <input  id="zipcode" name="zipcode" formControlName="ZipCode" class="form-control" type="text"
               autocomplete="false">
          </div>
      </div>
      <div class="col-sm-12 col-6">
        <label class="form-label">{{lb_Address}}</label>
        <div class="input-group">
          <textarea id="address" name="address" formControlName="Address" class="form-control"  autocomplete="false"></textarea>
        </div>
       </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
          <button type="button" name="button" class="btn btn-light m-0">{{lb_Cancel}}</button>
          <button type="submit" [disabled]="!(ApplicationForm.valid && btn_status)" name="button" class="btn bg-gradient-success m-0 mx-2" ><span [innerHTML]="btn_spinner"></span></button>
        </div>
      </form>
        </div>
</div>

