<main class="main-content main-content-bg mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0">
                  <h3 class="font-weight-bolder text-info text-gradient">{{lb_Info}}</h3>
                  <p class="mb-0" style="font-size: 0.96rem !important;">{{lb_InfoD}}</p>
                </div>
                <div class="card-body">
                  <form role="form" class="" [formGroup]="UserForm" (ngSubmit)="loginEvent()">
                    <div class="alert alert-danger" role="alert" *ngIf="IsShowMessageError">
                      <span class="alert-icon"><i class="ni ni-notification-70"></i>{{" "}}</span>
                      <span class="alert-text"><strong>{{lb_Error}}!</strong> {{lb_ErrorD}}!</span>
                    </div>
                    <label>{{lb_Email}}</label>
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="{{lb_Email}}" aria-label="UserName" formControlName="UserName">
                    </div>
                    <label>{{lb_Password}}</label>
                    <div class="mb-3">
                      <input type="password" class="form-control" placeholder="{{lb_Password}}" aria-label="Password" formControlName="Password">
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                      <label class="form-check-label" for="rememberMe">{{lb_Active}}</label>
                    </div>
                    <div class="text-center">
                      <button type="submit" [disabled]="!(UserForm.valid && btn_status)" name="button" class="btn bg-gradient-info m-0 mx-2"><span [innerHTML]="btn_spinner"></span></button>
                      <!-- </div> -->
                      <!-- <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" >{{lb_Save_Change}}</button> -->
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    <i (click)="UpdateLanguage()" class="fa fa-globe fixed-plugin-button-nav cursor-pointer mx-2" aria-hidden="true"></i>
                    {{lb_LoginD}}
                    <a class="text-info text-gradient font-weight-bold" (click)="routerEvent()">{{lb_Registration}}</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../../../assets/img/curved-images/curved9.jpg')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
