<div class="container-fluid">
  <div class="card-body pt-0">
            <form class="card card-body mt-4" [formGroup]="ReferenceAndCertificates" (ngSubmit)="OnSubmit(false)">
              <h6>{{lb_FormTitle}}</h6>
            <p class="text-sm mb-0">{{lb_Details}}</p>
            <hr class="horizontal dark my-3">
            <div class="row">
              <div class="col-md-6">
                <label class="form-label">{{lb_Receiver}}</label>
                <div class="input-group">
                  <select class="form-control" name="choices-gender" id="choices-Receiver" formControlName="Receiver_GN_Code">
                    <option value="{{receiver.Id}}" *ngFor="let receiver of ReceiverList">{{LangCode === "us-en" ? receiver.Name_En : receiver.Name_Ar}}</option>
                  </select>
                </div>
              </div>

              <label class="mt-4">{{lb_Letter}}</label>
            <input type="hidden" class="form-control BriefSummary" id="BriefSummary" formControlName="BriefSummary"  />

            <div id="editor" [innerHTML]="BriefSummary_Data">
              <!-- Data -->
            </div>

            <div class="d-flex justify-content-end mt-4">
              <button type="button" name="button" class="btn btn-light m-0">{{lb_Cancel}}</button>
              <button type="submit" [disabled]="!(ReferenceAndCertificates.valid && btn_status)" name="button" class="btn bg-gradient-success m-0 mx-2" ><span [innerHTML]="btn_spinner"></span></button>
            </div>
          </div>
          </form>
          </div>
</div>


