<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card-body pt-0">
        <div class="card card-body mt-4">
          <div class="row">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="text-sm mb-2">
                    {{lb_OrderType}} <b>{{Type}}</b>
                  </p>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                  <i class="far fa-calendar-alt mx-2" aria-hidden="true"></i>
                  <small>{{Date}}</small>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src="{{ProfileImage}}" alt="kal" class="border-radius-lg shadow w-100">
                </div>
                <div class="col-md-5 my-auto mt-0">
                  <p class="h6">{{StdName}}</p>
                  <p class="mb-1"><b>{{StdEmail}}</b></p>
                  <span class="badge badge-secondary mx-auto mt-2">{{StdPhone}}</span>
                </div>
                <div class="col-md-5">
                  <ul class="list-unstyled mx-auto">
                    <li class="d-flex">
                      <p class="mb-0">{{lb_University}}</p>
                      <p class="h6 {{top_class}}">{{Category}}</p>
                    </li>
                    <li>
                    </li>
                    <li class="d-flex mb-2">
                      <p class="mb-0">{{lb_Program}}</p>
                      <span class="badge badge-secondary {{top_class}}">{{Program}}</span>
                    </li>
                    <li>
                    </li>
                    <li class="d-flex">
                      <p class="mb-0">{{lb_Speciality}}</p>
                      <span class="badge badge-success {{top_class}}">{{Speciality}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-AttendanceChart></app-AttendanceChart>
    </div>
  </div>

  <div class="card card-body mt-3">
    <div class="input-group mt-3">
      <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
      <input type="text" class="form-control search-input" placeholder="{{lb_TypeHere}}" [(ngModel)]="searchedKeyword">
    </div>
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
          <tr>
            <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7">{{StudentInfoData}}</th>
            <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">{{Day}}</th>
            <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">{{IsLate}}</th>
            <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">{{DeviceType}}</th>
            <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">{{lb_Date}}</th>
            <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">{{EntryTime}}</th>
            <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">{{CheckoutTime}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of StudentAttendanceData  | filter: searchedKeyword |
          paginate: {id: 'listing_pagination',
          itemsPerPage: 10,
          currentPage: page,
          totalItems: tatalRecords
      }">
            <td>
              <div class="d-flex px-2 py-1">
                <div>
                  <i class="fa fa-calendar mx-3 fs-2" aria-hidden="true"></i>
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="mb-0 text-s">{{item.Specialization}}</h6>
                  <p class="text-s text-secondary fs-6 ">{{item.LectureName.slice(0,35)}}</p>
                </div>
              </div>
            </td>
            <td class="text-center">
              <p class="text-s text-secondary mb-0">{{item.Day}}</p>
            </td>
            <td class="text-center">
                <span class="badge badge-dark" [ngStyle]="{'background-color': item.Color}" style="color:white;"><i class="fs-5 {{item.Icon}}" aria-hidden="true"></i></span>
            </td>
            <td class="text-center">
              <p class="text-s text-secondary font-weight-bold mb-0">{{item.TS_MACHINE_TYPE}}</p>
            </td>
            <td class="align-middle text-center text-sm">
              <span class="badge badge-dark" style="background-color:black;color:white;">{{item.TS_TIMESTAMP_Date}}</span>
            </td>
            <td class="align-middle text-center text-sm">
              <span class="badge badge-success fs-6" style="background-color:transparent;color:#00e396;">{{item.TS_TIMESTAMP_IN |
                date:'shortTime'}}</span>
            </td>
            <td class="align-middle text-center text-sm">
              <span class="badge badge-danger fs-6" style="background-color:transparent;color:#008ffb;">{{item.TS_TIMESTAMP_OUT |
                date:'shortTime'}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <!-- Pagination area -->
        <pagination-controls class="dataTable-pagination" id='listing_pagination' [maxSize]="5" [directionLinks]="true"
          [autoHide]="true" [responsive]="true" previousLabel="{{Previous}}" nextLabel="{{Next}}"
          screenReaderPaginationLabel="Pages" screenReaderPageLabel="Page" (pageChange)="page = $event">
        </pagination-controls>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>
  <br>
</div>

<input type="hidden" [(ngModel)]="CheckOut" id="CheckOut">
<input type="hidden" [(ngModel)]="CheckIn" id="CheckIn">
