<div class="container-fluid py-4">
  <div class="row">

    <div class="col-lg-9 col-md-9 mx-auto">
      <div class="card mb-4">
        <!-- Start Card Header -->
        <app-RequestHeader [FormCode]='FormCode'></app-RequestHeader>
        <!-- End Card Header -->
        <div class="card-body">
          <hr class="horizontal dark">
          <div class="row">
            <div class="d-flex">
              <h4>
                <i class="ni ni-single-02 text-dark text-gradient opacity-10 h4" aria-hidden="true"></i> {{lb_PersonInformation}}
              </h4>
            </div>
            <div class="container p-3">
              <div class="row">
                <div class="col-6">
                  <p class="mb-1"><b>{{lb_CitizenShip}} </b> {{CitizenShip}}</p>
                </div>
                <div class="col-6">
                  <p class="mb-1"><b>{{lb_NationalNo}} </b> {{NationalNo}}</p>
                </div>
              </div>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <p class="mb-1"><b>{{lb_IssueDate}} </b> <i class="far fa-calendar-alt mx-2" aria-hidden="true"></i>
                  <small>{{IssueDate}}</small></p>
                </div>
                <div class="col-6">
                  <p class="mb-1"><b>{{lb_ExpiryDate}} </b><i class="far fa-calendar-alt mx-2" aria-hidden="true"></i>
                  <small>{{ExpiryDate}}</small></p>
                </div>
              </div>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <p class="mb-1"><b>{{lb_DateOfBirth}} </b> <i class="far fa-calendar-alt mx-2" aria-hidden="true"></i>
                    <small>{{DateOfBirth}}</small>
                  </p>
                </div>
                <div class="col-6">
                  <p class="mb-1"><b>{{lb_PlaceOfBirth}} </b> {{PlaceOfBirth}}</p>
                </div>
              </div>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <p class="mb-1"><b>{{lb_MaritalStatus}} </b> {{MaritalStatus}}</p>
                </div>
              </div>
              <hr class="horizontal dark">
            </div>
            <div class="d-flex">
              <h6>
                <i class="ni ni-square-pin text-dark text-gradient opacity-10 h6" aria-hidden="true"></i> {{lb_Address}}
              </h6>
            </div>
            <div class="d-flex">
              <figure>
                <blockquote class="blockquote">
                  <p class="px-2"><b>{{Address}}</b>, {{AddressD}}</p>
                </blockquote>
                <figcaption class="blockquote-footer ps-3">
                  {{lb_ZipCode}} <cite title="Source Title">{{ZipCode}} </cite>
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- Start Sequence Action -->
          <app-SequenceAction [FormCode]='FormCode'></app-SequenceAction>
          <!-- End Sequence Action -->
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-12">
      <!-- Start Sequence Tracking -->
      <app-SequenceTracking [FormCode]='FormCode'></app-SequenceTracking>
      <!-- End Sequence Tracking -->
    </div>

  </div>
</div>
