.py4 {
  padding-top: 1.5rem !important;
  padding-bottom: 20.5rem !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
th,
td,
input,
label,
span {
  font-family: 'Tajawal', sans-serif !important;
  /*font-size: small !important;*/
}

:lang(en) .sidenav-normal,
:lang(en) .nav-link-text {
  font-family: 'Tajawal', sans-serif !important;
  font-size: 115%;
  /*font-size: small !important;*/
}

:lang(ar) .search-input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

:lang(ar) .navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"]:after {
  margin-left: 0 !important;
}
.g-sidenav-show .sidenav .nav-link-text {
  font-weight: 600;
}
:lang(ar) .input-group > input {
  text-align: right !important;
}

.rtl-dir {
  direction: rtl !important;
}

.col-sm-6, .col-sm-4, .col-md-4 {

  margin-bottom: 10px !important;
}

.form-check {
  display: inline-block !important;
}

.ql-toolbar {
  direction: ltr !important;
  width: 98% !important;
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.ql-container {
  width: 98% !important;
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.fc-list-event, .fc-daygrid-event{
  color:white !important;
}
.fc-list-event:hover ,.fc-daygrid-event:hover {
  color:black !important;
}

:lang(ar) .fc .fc-toolbar-title {
  font-size: 0.9rem !important;
}




