.py4 {
  padding-top: 1.5rem !important;
  padding-bottom: 20.5rem !important;
}

:lang(ar) body,
:lang(ar) h1,
:lang(ar) h2,
:lang(ar) h3,
:lang(ar) h4,
:lang(ar) h5,
:lang(ar) h6,
:lang(ar) p,
:lang(ar) a,
:lang(ar) li,
:lang(ar) th,
:lang(ar) td,
:lang(ar) input,
:lang(ar) span {
  font-family: 'Tajawal', sans-serif !important;
  /*font-size: small !important;*/
}

:lang(ar) .search-input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

:lang(ar) .navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"]:after {
  margin-left: 0 !important;
}

.rtl-dir {
  direction: rtl !important;
}

.col-sm-6, .col-sm-4, .col-md-4 {

  margin-bottom: 10px !important;
}

.form-check {
  display: inline-block !important;
}

.ql-toolbar {
  direction: ltr !important;
  width: 98% !important;
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.ql-container {
  width: 98% !important;
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.fc-list-event, .fc-daygrid-event{
  color:white !important;
}
.fc-list-event:hover ,.fc-daygrid-event:hover {
  color:black !important;
}


