.navbar-custome{
  background-color: white !important;
  border-radius: 1rem !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(310deg, #e9ecef 0%, #e9ecef 100%)
}



