<div class="container-fluid py-4">
  <div class="row my-4">
    <div class="col-12">
      <div class="card">
        <div class="table-responsive" *ngFor="let SequenceModelList of SequenceList |
                paginate: {id: 'listing_pagination',
                itemsPerPage: PerPage,
                currentPage: page,
                totalItems: tatalRecords
            }">
          <h5 class="mx-4 mt-4" *ngIf="SeqModelIsActive(SequenceModelList[0].SequenceModel_ID)">{{LangCode === "us-en" ? GetSeqModel(SequenceModelList[0].SequenceModel_ID).Name_En : GetSeqModel(SequenceModelList[0].SequenceModel_ID).Name_Ar}}</h5>
          <table class="table align-items-center mb-0" *ngIf="SeqModelIsActive(SequenceModelList[0].SequenceModel_ID)">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_SequenceStatus}}
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{lb_NextStep}}</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_PreviousStep}}
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_OptionStep}}
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_EmailTemplate}}
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_Status}}</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_Action}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let oneSpe of SequenceModelList |
                paginate: {id: 'listing_pagination',
                itemsPerPage: PerPage,
                currentPage: page,
                totalItems: tatalRecords
            }">
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm"><span class="badge" style="color:black;border:2px solid;font-size: 12px;"
                          [ngStyle]="{'border-color':GetSeqStatus(oneSpe.SequenceStatus_ID).ColorCode}">{{LangCode === "us-en" ?
                          GetSeqStatus(oneSpe.SequenceStatus_ID).Name_En : GetSeqStatus(oneSpe.SequenceStatus_ID).Name_Ar}}</span></h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" *ngIf="oneSpe.NextSequence_ID"><span class="badge"
                          [ngStyle]="{'background-color':GetSeqStatus(oneSpe.NextSequence_ID).ColorCode}">{{LangCode === "us-en" ?
                          GetSeqStatus(oneSpe.NextSequence_ID).Name_En : GetSeqStatus(oneSpe.NextSequence_ID).Name_Ar}}</span></h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" *ngIf="oneSpe.PreviousSequence_ID"><span class="badge"
                          [ngStyle]="{'background-color': GetSeqStatus(oneSpe.PreviousSequence_ID).ColorCode}">{{LangCode === "us-en" ?
                          GetSeqStatus(oneSpe.PreviousSequence_ID).Name_En : GetSeqStatus(oneSpe.PreviousSequence_ID).Name_Ar}}</span></h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" *ngIf="oneSpe.OptionalSequence_ID"><span class="badge"
                          [ngStyle]="{'background-color': oneSpe.OptionalSequence_ID != null ? GetSeqStatus(oneSpe.OptionalSequence_ID).ColorCode : ''}">{{LangCode
                          === "us-en" && oneSpe.OptionalSequence_ID != null ?
                          GetSeqStatus(oneSpe.OptionalSequence_ID).Name_En : GetSeqStatus(oneSpe.OptionalSequence_ID).Name_Ar}}</span></h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" *ngIf="oneSpe.EmailTemplate_ID">{{LangCode === "us-en" && oneSpe.EmailTemplate_ID
                        != null ? GetEmailTemplate(oneSpe.EmailTemplate_ID).Name_En : GetEmailTemplate(oneSpe.EmailTemplate_ID).Name_Ar}}
                      </h6>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="badge badge-dot me-4">
                    <i class="{{oneSpe.IsActive ? 'bg-info' : 'bg-warning'}} mx-2"></i>
                    <span class="text-dark text-xs">{{oneSpe.IsActive ? lb_Active : lb_InActive}}</span>
                  </span>
                </td>
                <td class="text-sm">
                  <a routerLink="/CreateSequence/list/{{oneSpe.GN_Code}}" data-bs-toggle="tooltip"
                    data-bs-original-title="Preview product">
                    <i class="fas fa-user-edit text-secondary"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="row justify-content-md-center mb-2">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <!-- Pagination area -->
            <pagination-controls class="dataTable-pagination" id='listing_pagination' [maxSize]="5"
              [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previous" nextLabel="Next"
              screenReaderPaginationLabel="Pages" screenReaderPageLabel="Page" (pageChange)="page = $event">
            </pagination-controls>
          </div>
          <div class="col-lg-4"></div>
        </div>

      </div>
    </div>
  </div>

</div>
