<div class="container-fluid py-4">
  <div class="row">

    <div class="col-lg-9 col-md-9 mx-auto">
      <div class="card mb-4">
        <!-- Start Card Header -->
        <app-RequestHeader [FormCode]='FormCode'></app-RequestHeader>
        <!-- End Card Header -->

        <div class="card-body">
          <hr class="horizontal dark">
          <div class="row">
            <div class="d-flex">
              <h6>
                {{lb_LeaveDetails}}
              </h6>
            </div>
            <div class="container p-3">
              <div class="row">
                <div class="col-6">
                  <p class="mb-1">{{lb_TypeLeave}} <b> {{TypeLeave}}</b></p>
                </div>
                <div class="col-6">
                  <p class="mb-1">{{lb_DayOfLeave}} <b> {{DayOfLeave}}</b></p>
                </div>
              </div>
              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <p class="mb-1">{{lb_DateFrom}} <i class="far fa-calendar-alt mx-2" aria-hidden="true"></i>
                    <b><small>{{DateFrom}}</small></b>
                  </p>
                </div>
                <div class="col-6">
                  <p class="mb-1">{{lb_DateTo}} <i class="far fa-calendar-alt mx-2" aria-hidden="true"></i>
                    <b><small>{{DateTo}}</small></b>
                  </p>
                </div>
              </div>

              <hr class="horizontal dark">
              <div class="row">
                <div class="col-6">
                  <a href="{{AttachmentPatch.FilePath}}" target="_blank">
                    <p class="mb-1">{{lb_Medical_Excuse}} <i class="far fa-file-pdf mx-2" aria-hidden="true"></i>
                      <b><small>{{AttachmentPatch.FileName}}</small></b>
                    </p>
                  </a>
                </div>
              </div>
              <hr class="horizontal dark">
            </div>
            <div class="d-flex">
              <h6>
                {{lb_Reason}}
              </h6>
            </div>
            <div class="d-flex">
              <figure>
                <blockquote class="blockquote">
                  <p class="px-2"[innerHTML]="Reason"></p>
                </blockquote>
              </figure>
            </div>
          </div>

          <!-- Start Sequence Action -->
          <app-SequenceAction [FormCode]='FormCode'></app-SequenceAction>
          <!-- End Sequence Action -->

        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-12">
      <!-- Start Sequence Tracking -->
      <app-SequenceTracking [FormCode]='FormCode'></app-SequenceTracking>
      <!-- End Sequence Tracking -->
    </div>

  </div>
</div>
