<div class="container-fluid">
  <div class="card-body pt-0">
    <form class="card card-body mt-4" [formGroup]="PGR" (ngSubmit)="OnSubmit(false)">
      <h6>{{lb_FormTitle}}</h6>
      <p class="text-sm mb-0">{{lb_Details}}</p>
      <hr class="horizontal dark my-3">
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">{{lb_thesis_En}}</label>
          <div class="input-group">
            <textarea name="thesis_En" formControlName="Thesis_Title_En" style="text-align: left;"
              class="form-control"></textarea>
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">{{lb_thesis_Ar}}</label>
          <div class="input-group">
            <textarea name="thesis_Ar" formControlName="Thesis_Title_Ar" style="text-align: right;"
              class="form-control"></textarea>
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">{{lb_Supervisor}}</label>
          <div class="input-group">
            <select class="form-control" name="choices-gender" id="choices-Receiver" formControlName="supervisor">
              <option value="{{receiver.GN_Code}}" *ngFor="let receiver of ReceiverList">{{LangCode === "us-en" ?
                receiver.Name_En : receiver.Name_Ar}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">{{lb_Date}}</label>
          <div class="input-group">
            <input type="text" name="supervisor_date" formControlName="supervisor_date" class="form-control" readonly />
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">{{lb_CO_Supervisor}}</label>
          <div class="input-group">
            <select class="form-control" name="choices-gender" id="choices-Receiver" formControlName="co_supervisor">
              <option value="{{receiver.GN_Code}}" *ngFor="let receiver of ReceiverList">{{LangCode === "us-en" ?
                receiver.Name_En : receiver.Name_Ar}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">{{lb_Date}}</label>
          <div class="input-group">
            <input type="text" name="co_supervisor_date" formControlName="co_supervisor_date" class="form-control"
              readonly />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6"> <label class="form-label"></label>
          <div class="input-group"></div>
        </div>
      </div>

      <div class="row">
        <div class="d-flex justify-content-end mt-4">
          <button type="button" name="button" class="btn btn-light m-0">{{lb_Cancel}}</button>
          <button type="submit" [disabled]="!(PGR.valid && btn_status)" name="button"
            class="btn bg-gradient-success m-0 mx-2"><span [innerHTML]="btn_spinner"></span></button>
        </div>
      </div>
    </form>
  </div>
</div>
