<div class="card-body">
  <div class="d-flex justify-content-between align-items-center px-2">
    <div>
      <p class="text-sm mb-2 mt-2">
        {{lb_OrderNo}} <b>{{OrderNo}}</b>
      </p>
      <p class="text-sm mb-2">
        {{lb_OrderType}} <b>{{Type}}</b>
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center">
      <i class="far fa-calendar-alt mx-2" aria-hidden="true"></i>
      <small>{{Date}}</small>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-2">
      <img src="{{ProfileImage}}" alt="kal" class="border-radius-lg shadow w-100">
    </div>
    <div class="col-5 my-auto mt-0">
      <p class="h6">{{StdName}}</p>
      <p class="mb-1"><b>{{StdEmail}}</b></p>
      <span class="badge badge-secondary ms-auto mt-2">{{StdPhone}}</span>
    </div>
    <div class="col-md-5">
      <ul class="list-unstyled mx-auto">
        <li class="d-flex">
          <p class="mb-0">{{lb_University}}</p>
          <p class="h6 {{top_class}}">{{Category}}</p>
        </li>
        <li>
        </li>
        <li class="d-flex mb-2">
          <p class="mb-0">{{lb_Program}}</p>
          <span class="badge badge-secondary {{top_class}}">{{Program}}</span>
        </li>
        <li>
        </li>
        <li class="d-flex">
          <p class="mb-0">{{lb_Speciality}}</p>
          <span class="badge badge-success {{top_class}}">{{Speciality}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
