<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <div class="card card-body">
        <form class="card card-body" [formGroup]="ProgramForm" (ngSubmit)="OnSubmit(false)">
          <h6 class="mb-0">{{lb_Info}}</h6>
          <p class="text-sm mb-0">{{lb_InfoD}}</p>
          <hr class="horizontal dark my-3">
          <div class="row">
            <div class="col-12 col-md-6">
              <label for="va_EmpName" class="form-label">{{lb_ArName}}</label>
              <input type="text" class="form-control" placeholder="{{lb_ArName}}" formControlName="Name_Ar">
            </div>
            <div class="col-12 col-md-6">
              <label for="va_EmpName" class="form-label">{{lb_EngName}}</label>
              <input type="text" class="form-control" placeholder="{{lb_EngName}}" formControlName="Name_En">
            </div>

          </div>
          <div class="row mt-4">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label>
                  {{lb_IsActive}}
                </label>
                <p class="form-text text-muted text-xs ms-1">
                  {{lb_IsActiveD}}
                </p>
                <div class="form-check form-switch ms-1">

                  <input class="form-check-input" type="checkbox" (change)="ActiveValue($event.target)"
                    formControlName="IsActive" value="true" />
                  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-4">
            <button type="button" name="button" class="btn btn-light m-0"
              routerLink="/Program/list/">{{lb_Cancel}}</button>
            <button type="submit" [disabled]="!(ProgramForm.valid && btn_status)" name="button"
              class="btn bg-gradient-success m-0 mx-2"><span [innerHTML]="btn_spinner"></span></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12">

      <div class="card">
        <h6 class="px-3 pt-3">{{lb_Search}}</h6>
        <p class="text-sm px-3">{{lb_SearchD}}</p>
        <div class="input-group ps-3 pe-3 pb-3 pt-2">
          <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Type here..." [(ngModel)]="searchedKeyword">
        </div>
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>

                
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{lb_ArName}}</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_EngName}}</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_Status}}</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{{lb_Action}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let oneSpe of SpeList | filter: searchedKeyword |
              paginate: {id: 'listing_pagination',
              itemsPerPage: PerPage,
              currentPage: page,
              totalItems: tatalRecords
          }">
                
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{oneSpe.Name_Ar}}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{oneSpe.Name_En}}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="badge badge-dot me-4">
                    <i class="{{oneSpe.IsActive ? 'bg-info' : 'bg-warning'}} mx-2"></i>
                    <span class="text-dark text-xs">{{oneSpe.IsActive ? lb_Active : lb_InActive}}</span>
                  </span>
                </td>
                <td class="text-sm">
                  <a routerLink="/Program/list/{{oneSpe.GN_Code}}" data-bs-toggle="tooltip"
                    data-bs-original-title="Preview product">
                    <i class="fas fa-user-edit text-secondary"></i>
                  </a>
                  <!-- <a href="javascript:;" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product">
                    <i class="fas fa-user-edit text-secondary"></i>
                  </a>
                  <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                    <i class="fas fa-trash text-secondary"></i>
                  </a> -->
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="row justify-content-md-center mb-2">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <!-- Pagination area -->
            <pagination-controls class="dataTable-pagination" id='listing_pagination' [maxSize]="5"
              [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previous" nextLabel="Next"
              screenReaderPaginationLabel="Pages" screenReaderPageLabel="Page" (pageChange)="page = $event">
            </pagination-controls>
          </div>
          <div class="col-lg-4"></div>
        </div>

      </div>
    </div>
  </div>

  
</div>