<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-12 mx-auto">
      <form class="card card-body mt-4" [formGroup]="EmployeeForm" (ngSubmit)="OnSubmit(false)">
        <h6 class="mb-0">{{lb_EmpInfo}}</h6>
        <p class="text-sm mb-0">{{lb_EmpDetails}}</p>
        <hr class="horizontal dark my-3">
        <div class="row">
          <div class="col-md-4">
            <label for="Name_Ar" class="form-label">{{lb_EmpName}}</label>
            <input type="text" class="form-control" formControlName="Name_Ar">
          </div>
          <div class="col-md-4">
            <label for="Name_En" class="form-label">{{lb_EmpNameEn}}</label>
            <input type="text" class="form-control" formControlName="Name_En">
          </div>
          <div class="col-md-4">
            <label for="PhoneNo" class="form-label">{{lb_EmpPhone}}</label>
            <input type="phone" placeholder="9665xxxxxxxx" class="form-control" formControlName="PhoneNo">
          </div>
          <div class="col-md-4">
            <label for="Email" class="form-label">{{lb_EmpEmail}}</label>
            <input type="email" placeholder="ex: emp@riyadh.edu.sa" class="form-control" formControlName="Email">
          </div>
          <div class="col-md-4">
            <label class="form-label">{{lb_EmpGender}}</label>
            <select class="form-control" name="choices-language" formControlName="Gender">
              <option value="{{gender.Id}}" *ngFor="let gender of GenderList">{{gender.Name}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label">{{lb_EmpPermission}}</label>
            <select class="form-control" name="choices-language" formControlName="GroupId">
              <option value="{{group.Id}}" *ngFor="let group of GroupPermissionList">{{LangCode == 'en-us' || LangCode == 'us-en' ? group.Name_En : group.Name_Ar}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label">{{lb_JobTitle}}</label>
            <input type="text" value="" class="form-control" formControlName="JobTitle" />
          </div>
          <div class="col-md-8">
            <label class="form-label">{{lb_EmpSection}}</label>
            <select class="form-control choices-multiple"  name="choices-multiple-remove-button" formControlName="Department"
              multiple>
              <option value="{{item.Id}}" [selected]="item.IsActive"*ngFor="let item of DepartmentList">{{LangCode =='en-us' || LangCode == 'us-en'?item.Name_En:item.Name_Ar}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label">{{lb_Language}}</label>
            <select class="form-control" name="choices-language" formControlName="UILanguage">
              <option value="us-en">English</option>
              <option value="ar-sa">عربي</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="Username" class="form-label">{{lb_EmpUserName}}</label>
            <input type="text" class="form-control" formControlName="Username">
            <span class="text-danger text-sm" *ngIf="!EmployeeForm.get('Username')?.valid && EmployeeForm.get('Username')?.touched">
             {{Erorr_username}}</span>
          </div>
          <div class="col-md-4">
            <label for="Password" class="form-label">{{lb_EmpPassword}}</label>
            <input type="password" placeholder="*******" class="form-control" formControlName="Password">
          </div>
          <div class="col-md-4">
            <label for="PasswordConfirm" class="form-label">{{lb_EmpCPassword}}</label>
            <input type="password" placeholder="*******" class="form-control" formControlName="PasswordConfirm">
          </div>

        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label>
                {{lb_EmpIsActive}}
              </label>
              <p class="form-text text-muted text-xs ms-1">
                {{lb_EmpIsActiveD}}
              </p>
              <div class="form-check form-switch ms-1">
                <input class="form-check-input" type="checkbox" (change)="ActiveValue($event.target)" formControlName="IsActive" value="true" />
              </div>
            </div>
          </div>
        </div>
        <label class="mt-4">{{lb_EmpBrief}}</label>
        <input type="hidden" class="form-control BriefSummary" id="BriefSummary" formControlName="BriefSummary"  />
        <p class="form-text text-muted text-xs ms-1">
          {{lb_EmpBriefD}}
        </p>

        <div id="editor" [innerHTML]="BriefSummary_Data">
          <!-- Data -->
        </div>

        <div class="d-flex justify-content-end mt-4">
          <button type="button" name="button" class="btn btn-light m-0">{{lb_Cancel}}</button>
          <button type="submit" [disabled]="!(EmployeeForm.valid && btn_status)" name="button" class="btn bg-gradient-success m-0 mx-2" ><span [innerHTML]="btn_spinner"></span></button>
        </div>
      </form>
    </div>
  </div>
  <footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">

        </div>
      </div>
    </div>
  </footer>
</div>
