<div class="container-fluid py-4">
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="Order/list">
        <div class="card">
          <div class="card-body p-3 position-relative">
            <div class="row">
              <div class="col-7 {{textstart}}">
                <p class="text-sm mb-1 text-capitalize font-weight-bold">{{AllRequset}}</p>
                <h5 class="font-weight-bolder mb-0">
                  {{Count_AllRequest}}
                </h5>
                <span class="text-sm text-end text-success font-weight-bolder mt-auto mb-0"> <span
                    class="font-weight-normal text-secondary">{{SinceLastMonth}}</span></span>
              </div>
              <div class="col-5">
                <div class="dropdown {{textend}}">
                  <a href="javascript:;" class="cursor-pointer text-secondary" id="dropdownUsers1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-xs text-secondary"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 mt-sm-0 mt-4">
      <a routerLink="Order/list">
        <div class="card">
          <div class="card-body p-3 position-relative">
            <div class="row">
              <div class="col-7 {{textstart}}">
                <p class="text-sm mb-1 text-capitalize font-weight-bold">{{ApprovedRequest}}</p>
                <h5 class="font-weight-bolder mb-0">
                  {{Count_ApprovedRequest}}
                </h5>
                <span class="text-sm text-end text-success font-weight-bolder mt-auto mb-0"> <span
                    class="font-weight-normal text-secondary">{{SinceLastMonth}}</span></span>
              </div>
              <div class="col-5">
                <div class="dropdown {{textend}}">
                  <a href="javascript:;" class="cursor-pointer text-secondary" id="dropdownUsers2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-xs text-secondary"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 mt-sm-0 mt-4">
      <a routerLink="Order/list">
        <div class="card">
          <div class="card-body p-3 position-relative">
            <div class="row">
              <div class="col-7 {{textstart}}">
                <p class="text-sm mb-1 text-capitalize font-weight-bold">{{RejectedRequest}}</p>
                <h5 class="font-weight-bolder mb-0">
                  {{Count_RejectedRequest}}
                </h5>
                <span class="font-weight-normal text-secondary text-sm"><span
                    class="font-weight-bolder text-danger"></span> {{SinceLastMonth}}</span>
              </div>
              <div class="col-5">
                <div class="dropdown {{textend}}">
                  <a href="javascript:;" class="cursor-pointer text-secondary" id="dropdownUsers3"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-xs text-secondary"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdownUsers3">
                    <li><a class="dropdown-item border-radius-md" href="javascript:;"></a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;"></a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4 col-sm-6">
      <div class="card pb-3">
        <div class="card-header p-3 pb-0">
          <div class="d-flex justify-content-between">
            <h6 class="mb-0">{{Requests}}</h6>
            <button type="button"
              class="btn btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center"
              data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
              data-bs-original-title="See traffic channels">
              <i class="fas fa-info" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="row">
            <div class="col-12 text-center">
              <div class="chart">
                <canvas id="chart-consumption" class="chart-canvas"></canvas>
              </div>
              <h4 class="font-weight-bold mt-n8">
                <span>{{Count_AllRequest}}</span>
                <span class="d-block text-body text-sm">{{Request}}</span>
              </h4>
            </div>
            <div class="col-12 pt-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-0">
                          <span class="badge bg-gradient-info me-3"> </span>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm mx-2" id="nRequsetLeave">{{lb_RequsetLeave}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id="RequsetLeave"> {{Count_RequsetLeave}} </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-0">
                          <span class="badge bg-gradient-primary me-3"> </span>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm mx-2" id="nReferenceLetter">{{lb_LetterRec}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id="ReferenceLetter"> {{Count_ReferenceLetter}} </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-0">
                          <span class="badge bg-gradient-secondary me-3"> </span>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm mx-2" id="nRequestCertificate">{{lb_RequestCertificate}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id="RequestCertificate"> {{Count_RequestCertificate}}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-0">
                          <span class="badge bg-gradient-success me-3"> </span>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm mx-2" id="nModelPGT1">{{lb_ModelPGT1}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id="ModelPGT1"> {{Count_ModelPGT1}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-0">
                          <span class="badge bg-gradient-warning me-3"> </span>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm mx-2" id="nModelPGT2">{{lb_ModelPGT2}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id="ModelPGT2"> {{Count_ModelPGT2}} </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-0">
                          <span class="badge bg-gradient-dark me-3"> </span>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm mx-2" id="nModelPGT3">{{lb_ModelPGT3}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold" id="ModelPGT3"> {{Count_ModelPGT3}} </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="card z-index-2 mt-3">
        <div class="card-body">
          <div class="chart">
            <canvas id="polar-chart" class="chart-canvas" height="100px"></canvas>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-8 col-sm-6 mt-sm-0 mt-4">
      <div class="card">
        <app-ShowCalendar></app-ShowCalendar>
      </div>
    </div>
  </div>
</div>
