<div class="row">
  <hr class="horizontal dark">
  <div class="d-flex mt-2">
    <h4>
      <i class="ni ni-send text-dark text-gradient opacity-10 h4" aria-hidden="true"></i> {{lb_Sequence}}
    </h4>
  </div>
  <div class="mb-1 pt-3">

    <div class="d-flex mt-3" *ngFor="let item of SequenceList">
      <div class="flex-shrink-0">
        <img alt="Image placeholder" class="avatar rounded-circle" src="{{item.EmpProfile}}">
      </div>
      <div class="flex-grow-1 mx-3">
        <h6 class="h6 mt-0" style="width: 100%;">{{item.EmpName}}</h6>
        <p class="text-sm">{{item.Note}}</p>
        <div class="d-flex">
          <span class="badge badge-success text-white" style="font-size: 10px;" [ngStyle]="{'background-color': item.StatusColor}">{{item.StatusName}}</span>
        </div>
      </div>
    </div>

    <div class="d-flex mt-4" *ngIf="btnList.NextBtn != null || btnList.OptionBtn != null || btnList.PrevBtn != null">
      <div class="flex-shrink-0">
        <img alt="Image placeholder" class="avatar rounded-circle mx-3" src="../../../assets/img/Profile.jpg">
      </div>
      <div class="flex-grow-1 my-auto">
        <form>
          <textarea class="form-control" [(ngModel)]="Note" name="Note"  placeholder="Write your comment" rows="3"></textarea>
        </form>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-12 my-auto text-center mt-5 mb-4">
      <input type="button" *ngIf="btnList.NextBtn != null" value="{{btnList.NextBtn}}" (click)="UpdateStatus(1)" class="btn bg-gradient-success mb-0 mx-2">
      <input type="button" *ngIf="btnList.OptionBtn != null" value="{{btnList.OptionBtn}}" (click)="UpdateStatus(0)" class="btn bg-gradient-info mb-0 mx-2">
      <input type="button" *ngIf="btnList.PrevBtn != null" value="{{btnList.PrevBtn}}" (click)="UpdateStatus(-1)" class="btn bg-gradient-danger mb-0 mx-2">
    </div>

  </div>
</div>
