<div class="row">
  <hr class="horizontal dark">
  <div class="d-flex mt-2">
    <h4>
      <i class="ni ni-send text-dark text-gradient opacity-10 h4" aria-hidden="true"></i> {{lb_Sequence}}
    </h4>
  </div>
  <div class="mb-1 pt-3">

    <div class="d-flex mt-3">
      <div class="flex-shrink-0">
        <img alt="Image placeholder" class="avatar rounded-circle" src="../../../assets/img/Profile.jpg">
      </div>
      <div class="flex-grow-1 mx-3">
        <h6 class="h5 mt-0">{{SequenceName}}</h6>
        <p class="text-sm">{{SequenceD}}</p>
        <div class="d-flex">
          <span class="badge badge-success">{{lb_Approve}}</span>
        </div>
      </div>
    </div>

    <div class="d-flex mt-4">
      <div class="flex-shrink-0">
        <img alt="Image placeholder" class="avatar rounded-circle mx-3" src="../../../assets/img/Profile.jpg">
      </div>
      <div class="flex-grow-1 my-auto">
        <form>
          <textarea class="form-control" placeholder="Write your comment" rows="3"></textarea>
        </form>
      </div>
    </div>


    <div class="col-lg-12 col-md-12 col-12 my-auto text-center mt-5 mb-4">
      <input type="button" value="{{lb_Approve}}" class="btn bg-gradient-success mb-0">
      <input type="button" value="{{lb_Reject}}" class="btn bg-gradient-danger mb-0 mx-3">
    </div>
  </div>
</div>
