<div class="row">
  <hr class="horizontal dark">
  <h6>{{lb_Sequence}}</h6>
  <div class="mb-1 mt-3">
    <div class="row">
      <div class="col-md-12 d-flex mb-4" *ngFor="let item of SequenceList">
        <div class="avatar mx-3 col-md-2">
          <img src="{{item.EmpProfile}}" alt="kal" class="border-radius-lg shadow">
        </div>
        <div class="d-flex flex-column col-md-7">
          <h6 class="mb-0 text-sm">{{item.EmpName}}</h6>
          <p class="mb-0 text-sm">{{item.Note}}</p>
          <a *ngIf="item.Attachment != null" target="_blank" href="{{item.Attachment}}" class="mb-0 text-sm"><i class="fa fa-paperclip mx-2" aria-hidden="true"></i>{{lb_Attachment_View}}</a>
        </div>
        <div class="btn btn-link px-3 text-center col-md-3">
          <span *ngIf="item.StatusID != '15'" class="badge badge-success text-white" style="font-size: 10px;"
            [ngStyle]="{'background-color': item.StatusColor}">{{item.StatusName}}</span>
          <a *ngIf="item.StatusID == '15'" routerLink="../../../Clearnce/update/{{GN_Code}}">
          <span class="badge badge-success text-white" style="font-size: 10px;"
            [ngStyle]="{'background-color': item.StatusColor}">{{item.StatusName}}</span>
              </a>
        </div>
      </div>
    </div>
    <div class="row d-flex mt-4" *ngIf="(btnList?.NextBtn != null || btnList?.OptionBtn != null || btnList?.PrevBtn != null) && btnActive">
      <div class="col-md-12">
        <div class="flex-grow-1 my-auto">
          <form>
            <textarea class="form-control" [(ngModel)]="Note" name="Note" placeholder="{{lb_Comment}}"
              rows="3"></textarea>
          </form>
        </div>
      </div>
      <div class="col-md-6 pt-3">
        <label class="form-label">{{lb_Attachment}}</label>
        <div class="input-group">
          <input (change)="onFileChange($any($event).target.files,'Sequence_File')" id="Attachment" name="Attachment"
            class="form-control" type="file" required="required">
        </div>
      </div>
      <div class="col-md-6 pt-3">
        <label class="form-label">{{lb_Attachment}}</label>
        <div class="input-group">
          <input type="date" [(ngModel)]="ApproveDate" class="form-control" />
        </div>
      </div>
      <div class="col-lg-12 col-md-12 my-auto text-center mt-5 mb-4" *ngIf="btnActive">
        <input type="button" *ngIf="btnList?.NextBtn != null" value="{{btnList?.NextBtn}}" (click)="UpdateStatus(1)"
          class="btn bg-gradient-success mb-0 mx-2">
        <input type="button" *ngIf="btnList?.OptionBtn != null" value="{{btnList?.OptionBtn}}" (click)="UpdateStatus(0)"
          class="btn bg-gradient-info mb-0 mx-2">
        <input type="button" *ngIf="btnList?.PrevBtn != null" value="{{btnList?.PrevBtn}}" (click)="UpdateStatus(-1)"
          class="btn bg-gradient-danger mb-0 mx-2">
      </div>
    </div>


  </div>
</div>
